@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                WarningIconClass="fas fa-bolt"
                InfoIconClass="fas fa-exclamation"
                ErrorIconClass="fas fa-times"/>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
